html {
  box-sizing: border-box;
  font-size: 10px;
  background: #ffc600;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Amatic SC", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  text-align: center;
  font-size: 10rem;
  line-height: 1;
  margin-bottom: 0;
}
.score {
  background: rgba(255, 255, 255, 0.2);
  padding: 0 3rem;
  line-height: 1;
  border-radius: 1rem;
  margin-left: 20px;
}
.startBtn,
.removeBtn {
  padding: 10px;
  cursor: pointer;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  font-size: 2rem;
}
.game {
  height: 400px;
  width: 600px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
}
.hole {
  flex: 1 0 33.3%;
  overflow: hidden;
  position: relative;
}
.hole:after {
  display: block;
  background: url(./img/hole.svg) bottom center no-repeat;
  background-size: contain;
  content: "";
  width: 100%;
  height: 70px;
  position: absolute;
  z-index: 2;
  bottom: -20px;
}
.mole {
  background: url("./img/mole.svg") bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}
.container {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 800px;
}
.high-score {
  background: rgba(255, 255, 255, 0.2);
  padding: 0 1rem;
  border-radius: 1rem;
  font-size: 3rem;
}
.button {
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
.button:active {
  background: rgba(255, 255, 255, 0.6);
}
 .up .mole {
  top: 0;
}
.speed {
  text-align: center;
  font-size: 4rem;
  line-height: 1;
  margin-bottom: 0;
  height: 30px;
  transition: opacity 1s ease-in-out;
}
